.image-container {
  position: relative;
  width: 100%;
  margin: 0 20px;
  max-width: 2000px;
  margin-bottom: 5px;
  

  .text-overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align:right;
    padding: 20px;
  
    .home-quote {
      font-size: 1.5rem;
    }
  }
}





