/* Common styles for card container */
.card-container {
  display: flex;
  /* Styles for the image */
    .img {
      flex: 1;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
      margin-right: 20px;
    }
  
    /* Styles for the card body container */
    .card-body-container {
      text-align:left;
      margin-right: 20px;

      span, div {
        line-height: 1.6;
        font-size: 1.2rem;
      }
    } 
}


@media screen and (max-width: 768px) {
  .card-container {
    /* Media query for smaller screens */
    flex-direction: column;
      /* Change layout to column for smaller screens */
    align-items: center;
      /* Center content horizontally within the card */
    padding: 0 10px;
            /* Adjust the padding as needed */
    .img {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
        /* Optional: Add some space between image and content */
      }
    .card-body-container {
      max-width: 90%;
      text-align: left;
      /* Reset text alignment for card body content */
    }
  }
}
