.quote-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  .quote-card-container {
    border: 1px solid black;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 3px 3px #eee;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ffffff;
    transition: 0.6s ease;
    .heart-button {
      display: flex;
      justify-content: flex-end;
    }
    &:hover {
      opacity: 1;
      transform: scale(1.1)
    }
  }
}

@media (max-width:480px) and (hover:none){
  .quote-card-container {
    &:active {
      opacity: 1;
      transform: scale(1.1)
    }
    margin: 0 10px;
  }
}
  



