
.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nav-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    
    
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    }
  }
}