
.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nav-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 0;
    box-sizing: border-box;
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav-links-container {
    justify-content: center;
    padding: 0;
  }

  .nav-link {
    padding: 10px 0;
    /* Adjust as needed */
    display: block;
    /* Display as block for mobile view */
    text-align: center;
    /* Center text for mobile view */
    font-size: 1rem;
  }
}