
.search-box {
  appearance: none;
  display: block;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  min-width: 70%;
  margin-bottom: 15px;
  padding: 20px;
  line-height: 10px;
  font-size: 1rem;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}