
.search-box {
  display: block;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  width: 40%;
  margin-bottom: 15px;
  padding: 15px;
  line-height: 10px;
  font-size: 1rem;
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}