.directory-item-container {

  flex: 1 1 calc(50% - 20px);
    /* Two items in a row with a gap of 20px */
    height: 440px;
    /* Height of each item */  
    /* Space between rows */
    position: relative;
    &:nth-child(3) {
      flex: 1 1 calc(100% - 10px);
      /* Full width for the third item */
    }
    overflow: hidden;

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .directory-item-body {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;

    h2 {
      font-weight: bold;
      margin: 0 5px;
      font-size: 22px;
    }

    p {
      font-weight: lighter;
      font-size: 16px;
    }
  }

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .directory-body-container {
      opacity: 0.5;
    }
  }
}